:root {
  --main-color: #ffffff;
  --dark-topic: #2f303a;
  --logo-span: #2196f3;
  --btn: #2196f3;
  --btn-back:#2196f3;
  --top-battom: #2f303a;
  --nav-btn: #ffffff;
  --logo-nav-header: #212121;
  --title-spec: #212121;
  --address-hover-focus: #2196f3;
  --mail-tel: #757575;
  --text: #757575;
  --prof-desc:#757575;
  --prof-team:#f5f4fa;
}
body {
  font-family: "Roboto", sans-serif;
  background-size: contain;
}
h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.address {
  font-style: normal;
}
/*====== HEADER ======*/
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  background: var(--main-color);
}
.logotype {
  font-family: Raleway;
  font-weight: 600;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--logo-span);
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo-img {
  color: var(--logo-nav-header);
}
.header .container {
  display: flex;
}
.navigation {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.navigation-list {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.logotype {
  margin-right: 93px;
}
.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}
.navigation-list-link {
  color: var(--logo-nav-header);
}
.navigation-list-link:hover,
.navigation-list-link:focus {
  color: var(--address-hover-focus);
}
.mail-link {
  margin-left: auto;
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--mail-tel);
}
.mail-link:hover,
.mail-link:focus {
  color: var(--address-hover-focus);
}
.tel-link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--mail-tel);
}
.tel-link:hover,
.tel-link:focus {
  color: var(--address-hover-focus);
}
/*====== END HEADER ======*/

/*====== HERO ======*/
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.hero-container.container {
  display: flex;
}
.hero-container {
  background: var(--dark-topic);
  text-align: center;
  align-content: center;
}
.headline-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 200px;
  padding-left: 452px;
  padding-right: 452px;
}
.headline {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-color);
  min-width: 696px;
  height: 120px;
}
.modal-button {
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--main-color);
  background: var(--btn-back);
}
.modal-button:hover,
.modal-button:focus {
  background: var(--btn);
}
.modal-button-block {
  margin-top: 30px;
  padding-bottom: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
/*====== END HERO ======*/

/*====== BENEFITS ======*/
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.text-container {
  display: flex;
  padding-top: 94px;
}
.description :not(:last-child) {
  margin-right: 30px;
}
.title-benefits {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-spec);
  width: 270px;
  margin-bottom: 10px;
}
.description-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--text);
  width: 270px;
  margin-bottom: 47px;
}
.options-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-spec);
  margin-top: 47px;
  margin-bottom: 50px;
}
.images-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 94px;
}
.images :not(last-child) {
  margin-right: 15px;
}
/*====== END BENEFITS ======*/

/*====== TEAM ======*/
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.prof-team {
  background: var(--prof-team);
}
.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-spec);
  padding-top: 94px;
  margin-bottom: 50px;
}
.team-list {
  width: 270px;
  background: var(--main-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-list:not(last-child) {
  margin-right: 15px;
}
.team-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 94px;
}
.foto {
  width: 270px;
}
.photo:not(:first-child) {
  margin-left: 15px;
}
.specialists {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-spec);
  margin-top: 30px;
  margin-bottom: 5px;
}
.profession {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--prof-desc);
  margin-top: 5px;
  padding-bottom: 30px;
}
/*====== END TEAM ======*/

/*====== FOOTER ======*/
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--dark-topic);
}
.logo-style-footer {
  color: var(--main-color);
}
.logo {
  color: var(--logo-span);
}
.logo-bottom {
  margin-bottom: 20px;
}
.address {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
.contacts-block:not(last-child) {
  margin-bottom: 9px;
}
.contacts-list-link {
  color:var(--main-color);
}
.contacts-list-link:hover,
.contacts-list-link:focus {
  color: var(--address-hover-focus);
}
/*====== END FOOTER ======*/